html {
  display: block;
}
* {
  box-sizing: border-box;
}
a {
  background-color: transparent;
  color: #1e6bb8;
  text-decoration: none;
}
a:active,a:hover {
  outline: 0
}
body {
  padding: 0 0 40px;
  margin: 0;
  font-family: "Open Sans", "Tahoma", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  display: block;
  background-color: #eaefec;
  height: 100%;
  min-height: 100%;
}
.header-title {
  font-size: 40px;
  background-color: black;
  display: inline-block;
  padding: 10px 15px;
}
.header-author {
  background-color: black;
  padding: 10px 15px;
  display: inline-block;
}
.main-overview {
  padding: 0.5rem 4rem;
  font-size: 1.1rem;
}
.main-overview-list {
  padding: 0.5rem 5rem;
  font-size: 1.1rem;
}
.overview-title {
  text-align: left;
  font-family: "Open Sans", "Tahoma", sans-serif;
  padding: 1rem 4rem 0.5rem;
  margin: 0;
  color: #0a4d9f;
}
h1 {
  margin-top: 0;
  padding-top: 10px;
  font-weight: bold;
  font-size: 30px;
}
header {
  font-family: "Open Sans", "Tahoma", sans-serif;
  color: #fff;
  text-align: center;
  display: block;
  padding: 30px 10px;
  background-image: url('banner.jpg');
}
a:hover {
  text-decoration: underline
}
footer {
  padding: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #ced4d0;
  display: block;
  position: relative;
  height: 40px;
  bottom: 0;
  width: 100%;
}
circle:hover {
  stroke-width: 2px;
  stroke: black;
}
.tooltip {
  position: absolute;
  text-align: left;
  width: 90px;
  height: 80px;
  padding: 4px;
  font-size: 12px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}
.axis-label {
  inline-size: 80px !important;
  overflow-wrap: break-word !important;
  font-size: 10px;
  text-anchor: end;
}
.pass-completion {
  display: inline-block;
  float: left;
}
.tds {
  display: inline-block;
  float: right;
}
.circle-pass {
  fill: #4287f5;
}
.circle-rush {
  fill: #fa7848;
}
.circle-lost {
  fill: #730aa3;
}
.svg-img {
  width: 60%;
  margin: auto;
  display: block;
}